---
import { IoIosLink } from "react-icons/io";
const { className, title } = Astro.props;
const id = title && title.replace(/\s+/g, "-").toLowerCase();
---

<section class:list={["flex flex-col gap-4 print:gap-0", className]}>
  {
    title && (
      <h3
        class="group relative flex w-full items-end gap-2 text-3xl print:gap-1 print:pb-0 print:text-xl"
        id={id}
      >
        {title}
        <a
          href={`#${id}`}
          class="text-gray-400 opacity-0 transition-opacity hover:text-gray-600 group-hover:opacity-100"
          aria-label="Link to this section"
        >
          <IoIosLink />
        </a>
      </h3>
    )
  }
  <slot />
</section>
